<!DOCTYPE html>
<html>

<head>
    <title>메인페이지</title>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no' />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <!-- AJAX를 위한 Jquery 기본 모드-->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script>
        
        $(document).ready(function(){
            show();
        });

        function show(){
            $('#cards-box').html("")
            $.ajax({
                type:'GET',
                url:'/main/list',
                data:{},
                success: function(response){
                    let bookmarks = response["bookmarks"];
                    console.log(bookmarks.length);
                    for(let i=0; i<bookmarks.length; i++){
                        let bookmark=bookmarks[i];
                        make(bookmark["url"], bookmark["title"], bookmark["image"], bookmark["click"], bookmark["star"]);
                    }
                }
            })
        }

        function make(url, title, image, click, star){
            //<button onclick="star('{{user_id}}','${url}')">${star}</button>
            let temp_html = `
                <div class="card">
                    <div class = "media-content">
                        <button onclick="star('{{user_id}}','${url}')">${star}</button>
                        <a href="${url}" target="_blank" onclick="click('{{user_id}}','${url}')">${title}</a>
                        <p class= "click">클릭수:${click}</p>
                        <button onclick="delete_BM('{{user_id}}','${url}')">삭제</button>
                    </div>
                </div>
            `;
            $("#cards-box").append(temp_html);
        }

        function save(id){
            let url = $("#post-url").val();
            $.ajax({
                type:'POST',
                url:'/main/post',
                data:{url_give:url, id_give:id},
                success: function(response){
                    if(response["result"]=="success"){
                        alert("포스팅 성공!");
                        window.location.reload();
                    }else if(response["result"]=="same"){
                        alert("중복된 url입니다");
                    }
                    else{
                        alert("실패");
                    }
                }
            })
        }

        function star(id, url){
            $.ajax({
                type:'POST',
                url:'/main/star',
                data:{url_give:url, id_give:id},
                success: function(response){
                    if(response["result"]=="success"){
                        alert("중요표시");
                        window.location.reload();
                    }else if(response["result"]=="over"){
                        alert("5개 이상");
                    }
                    else{
                        alert("오류");
                    }
                }
            })
        }

        function click(id,url){
            $.ajax({
                type:'POST',
                url:'/main/click',
                data:{url_give:url, id_give:id},
                success: function(response){
                    if(response["result"]=="success"){
                        alert("+1");
                        window.location.reload();
                    }else{
                        alert("오류");
                    }
                }
            })
        }

        function delete_BM(id, url){
            $.ajax({
                type: 'POST',
                url: '/main/delete',
                data: {'url_give':url, 'id_give':id},
                success: function(response){
                    if(response['result']=='success'){
                        alert("삭제 완료!");
                        window.location.reload();
                    }
                }
            });
        }

        function keyevent(){
            var now = document.getElementById("post-url").value;
            $('#cards-box').html("")
            $.ajax({
                type:'POST',
                url:'/main/list',
                data:{url_give:now},
                success: function(response){
                    let bookmarks = response["bookmarks"];
                    for(let i=0; i<bookmarks.length; i++){
                        let bookmark=bookmarks[i];
                        make(bookmark["url"], bookmark["title"], bookmark["image"], bookmark["click"], bookmark["star"]);
                    }
                }
            })
        }
    </script>
</head>

<body>
    <div class="container">
        <button type="button" onclick="window.location.href='/signout'" class="btn btn-primary">로그아웃</button>
    </div>
    <div class="question-box" >
        <input id="post-url" type="text" onkeyup="keyevent(this);"/> <button onclick="save('{{user_id}}')">등록</button>
    </div>
    <h1>닉네임은 {{user_nickname}}입니다</h1>
    <div id="cards-box" class="card-columns">
        <div class="card">
            <div class = "media-content">
                <button onclick="star('{{user_id}}')">중요</button>
                <a href="https://www.naver.com/" target="_blank" >네이버</a>
                <p class= "click">클릭수:0</p>
                <button onclick="delete_BM()">삭제</button>
            </div>
        </div>
    </div>
</body>

</html>