<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/au-kddi/190/green-book_1f4d7.png"
        rel="shortcut icon" type="image/x-icon">

    <!-- Bulma 임포트 -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- AJAX를 위한 Jquery 기본 모드-->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    <!-- Google Fonts 적용 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">

    <title>정글북</title>
    <style>
        * {
            font-family: 'Gowun Dodum', sans-serif;
        }

        .button {
            font-family: 'Gowun Dodum', sans-serif;
        }

        .input {
            font-family: 'Gowun Dodum', sans-serif;
        }

        .footer {
            font-family: 'Gowun Dodum', sans-serif;
        }

        .control {
            width: 70%;
        }

        .level-item {
            color: burlywood;
        }

        .footer {
            padding: 2rem 1rem 2rem;
        }
    </style>

    <script>

        function make(url, title, image, click, star) {
            // console.log(star);
            if (star == false) {
                star = 'far';
            }
            else {
                star = 'fas';
            }

            let temp_html = `
            <article class="media" id="cards-box">
                    <div class="media-left">
                        <figure class="image is-64x64">
                        <a href="${url}" target="_blank"><img
                            src="${image}"
                            alt="Image"></a>
                        </figure>
                    </div>

                    <div class="media-content">
                        <div class="content">
                            <p class= "click">
                                <strong>${title}</strong>
                                &nbsp;
                                <a style="cursor:pointer; pointer-events: auto;" target="_blank" onclick="click_BM('{{user_id}}','${url}')">${url}</a>
                            </p>
                        </div>
                        <nav class="level is-mobile">
                            <div class="level-left">
                                <a class="level-item" aria-label="star" onclick="star('{{user_id}}','${url}')">
                                    <span class="icon is-small">
                                        <i class="${star} fa-star" aria-hidden="true"></i>
                                    </span>
                                </a>

                                <a class="level-item" aria-label="trash" onclick="delete_BM('{{user_id}}','${url}')">
                                    <span class="icon is-small">
                                        <i class="fas fa-trash" aria-hidden="true"></i>
                                    </span>
                                </a>
                                <small>✅&nbsp;${click}</small>

                            </div>
                        </nav>
                    </div>
                </article>
            `;

            $("#bookmark").append(temp_html);
        }

        function save(id) {
            let url = $("#post-url").val();
            $.ajax({
                type: 'POST',
                url: '/main/post',
                data: { url_give: url, id_give: id },
                success: function (response) {
                    if (response["result"] == "success") {
                        //alert("포스팅 성공!");
                        window.location.reload();
                    } else if (response["result"] == "same") {
                        alert("중복된 url입니다");
                    } else if (response["result"] == "none") {
                        alert("사이트에서 주소를 복사 붙여넣기 해주세요");
                    }
                    else {
                        alert("오류");
                    }
                }
            })
        }

        function star(id, url) {
            $.ajax({
                type: 'POST',
                url: '/main/star',
                data: { url_give: url, id_give: id },
                success: function (response) {
                    if (response["result"] == "success") {
                        alert("고정");
                        window.location.reload();
                    } else if (response["result"] == "over") {
                        alert("북마크는 최대 5개까지 가능합니다.");
                    }
                    else {
                        alert("오류발생");
                    }
                }
            })
        }

        function click_BM(id, url) {
            $.ajax({
                type: 'POST',
                url: '/main/click',
                data: { url_give: url, id_give: id },
                success: function (response) {
                    if (response["result"] == "success") {
                        // alert("+1");
                        window.open(url);
                        window.location.reload();
                    } else {
                        alert("오류");
                    }
                }
            })
        }

        function delete_BM(id, url) {
            $.ajax({
                type: 'POST',
                url: '/main/delete',
                data: { 'url_give': url, 'id_give': id },
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert("삭제 완료!");
                        window.location.reload();
                    }
                }
            });
        }

        function keyevent() {
            var now = document.getElementById("post-url").value;
            if(window.event.keyCode==13){
                var enter=1;
            }
            $.ajax({
                type: 'POST',
                url: '/main/list',
                data: { url_give: now },
                success: function (response) {
                    if (response['result'] == 'success') {
                        if(enter==1){
                            $('#save_button').click();
                        }else if(now==""){
                            window.location.reload();
                        }
                        else{
                            $('#bookmark').html("");
                            let bookmarks = response["bookmarks"];
                            for (let i = 0; i < bookmarks.length; i++) {
                                let bookmark = bookmarks[i];
                                make(bookmark["url"], bookmark["title"], bookmark["image"], bookmark["click"], bookmark["star"]);
                            }
                        }
                    }
                    else {
                        alert("오류");
                    }
                }
            })
        }
    </script>
</head>

<body>
    <article class="panel is-success">
        <a onclick="window.location.href='/main'">
            <p class="panel-heading" align="left">
                ⛺ 정 글 북 📗
            </p>
        </a>


        <div class="column has-text-centered">
            <div class="buttons has-addons is-right">
                <h6>{{user_nickname}}😀&nbsp;&nbsp;</h6>

                <div class="buttons are-small" align="right">

                    <button class="button is-text" onclick="window.location.href='/signout'">로그아웃</button>
                    <!-- <button class="button is-text">비밀번호 변경</button> -->
                </div>
            </div>
            <br>
            <h5 class="subtitle is-5"> 💡 TIP : 많이 클릭한 사이트와 고정된 북마크 순으로 정렬됩니다.</h5><br>
            <input id="post-url" type="text" class="input is-success " onkeyup="keyevent(this);" style="width:40%"
                placeholder="북마크하고 싶은 링크를 등록해주세요" autofocus>
            <button class="button is-success is-active" id="save_button" onclick="save('{{user_id}}')">등록</button>

        </div>
        <div class="column is-half is-offset-one-quarter">
            <div class="box" id="bookmark">
                {% if bookmarks_list |length ==0 %}
                    <h4>북마크를 추가 해 주세요</h4>
                {% endif %}
                {% for bookmark in bookmarks_list %}
                {% if bookmark['star']== false %}
                    {% set star='far' %}
                {% else %}
                    {% set star='fas' %}
                {% endif %}
                <article class="media" id="cards-box">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <a href="{{bookmark['url']}}" target="_blank"><img src="{{bookmark['image']}}"
                                alt="Image"></a>
                        </figure>
                    </div>

                    <div class="media-content">
                        <div class="content">
                            <p class= "click">
                                <strong>{{bookmark["title"]}}</strong>
                                &nbsp;
                                <a style="cursor:pointer; pointer-events: auto;" target="_blank"
                                    onclick="click_BM('{{user_id}}','{{bookmark["url"]}}')">{{bookmark["url"]}}</a>
                            </p>
                        </div>
                        <nav class="level is-mobile">
                            <div class="level-left">
                                <a class="level-item" aria-label="star" onclick="star('{{user_id}}','{{bookmark["url"]}}')">
                                    <span class="icon is-small">
                                        <i class="{{star}} fa-star" aria-hidden="true"></i>
                                    </span>
                                </a>

                                <a class="level-item" aria-label="trash" onclick="delete_BM('{{user_id}}','{{bookmark["url"]}}')">
                                    <span class="icon is-small">
                                        <i class="fas fa-trash" aria-hidden="true"></i>
                                    </span>
                                </a>
                                <small>✅&nbsp;{{bookmark["click"]}}</small>

                            </div>
                        </nav>
                    </div>
                </article>
                {% endfor %}
            </div>
        </div>


        <div><br></div>
        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    <strong>정글북</strong> by <a href="https://ovenapp.io/view/Tr1ydyqKZ1u3YnaHNtI2gQ5NPh7GiM6f/jgDvw"
                        target="_blank">[WEEK00] 4조</a>.
                    The source code is
                    licensed
                    <a href="http://opensource.org/licenses/mit-license.php" target="_blank">MIT</a>. The website
                    content
                    is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY NC SA
                        4.0</a>.
                </p>
            </div>
        </footer>



</body>

</html>