<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- Bulma 임포트 -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">

    <!-- AJAX를 위한 Jquery 기본 모드-->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

    <!-- 부트스트랩 입포트 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        function signup() {
            let userid = $('#userid').val();
            let password = $('#password').val();
            let re_password = $('#re_password').val();
            let nickname = $('#nickname').val();

            if (userid == "") {
                alert("아이디를 입력하세요!");
            } else if (password == "") {
                alert("비밀번호를 입력하세요!");
            } else if (re_password == "") {
                alert("비밀번호 확인을 입력하세요!");
            } else if (password != re_password) {
                alert("비밀번호가 일치하지 않습니다!")
            } else if (nickname == "") {
                alert("닉네임을 입력하세요!");
            } else {
                req = $.ajax({
                    type: "POST",
                    url: "/signup",
                    data: {
                        userid_give: userid,
                        password_give: password,
                        re_password_give: re_password,
                        nickname_give: nickname
                    },
                    success: function (response) {
                        status = response["status"];
                        if (status == '0') {
                            alert("이미 가입되어 있는 아이디입니다.")
                        } else if (status == '1') {
                            alert("가입 완료!");
                            window.location.href = "/";
                        }
                    }
                });
            }

        }


    </script>

    <title>회원가입</title>

</head>

<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="box has-text-centered">
        <br>
        <h1 class="title" align="center">회원가입</h1>
        <br>
        <div class="field is-grouped is-grouped-centered">
            <p class="control has-icons-left">
                <input class="input is-rounded" id="userid" type="text" placeholder="아 이 디" required minlength="6"
                    maxlength="20">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
                <!-- <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
            </span> -->
            </p>
        </div>

        <div class="field is-grouped is-grouped-centered">
            <p class="control has-icons-left">
                <input class="input is-rounded" id="password" type="password" placeholder="비밀번호" required minlength="12"
                    maxlength="20">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </p>
        </div>
        <div class="field is-grouped is-grouped-centered">
            <p class="control has-icons-left">
                <input class="input is-rounded" id="re_password" type="password" placeholder="비밀번호 확인">
                <span class="icon is-small is-left">
                    <i class="fas fa-check-square"></i>
                </span>
            </p>
        </div>
        <div class="field is-grouped is-grouped-centered">
            <p class="control has-icons-left">
                <input class="input is-rounded" id="nickname" type="text" placeholder="닉네임">
                <span class="icon is-small is-left">
                    <i class="fas fa-globe"></i>
                </span>
            </p>
        </div>
        <div><br></div>
        <button class="button is-success is-rounded" onclick="signup()">가입 완료</button>
        <div><br><br></div>

    </div>

</body>

</html>