<!DOCTYPE html>
<html>

<head>
    <!-- Bulma 임포트 -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <br>
    
    <!-- AJAX를 위한 Jquery 기본 모드-->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    <!-- Google Fonts 적용 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: 'Gowun Dodum', sans-serif;
        }

        .button {
            font-family: 'Gowun Dodum', sans-serif;
        }

        .input {
            font-family: 'Gowun Dodum', sans-serif;
        }
    </style>

    <!-- 아이디 비밀번호 입력여부 검증 -->
    <script>
        function signin() {

            let id = $('#userid').val();
            let pw = $('#password').val();

            if (id == "") {
                alert("아이디를 입력하세요!");
            } else if (pw == "") {
                alert("비밀번호를 입력하세요!");
            } else {
                req = $.ajax({
                    type: "POST",
                    url: "/",
                    data: {
                        id_give: id,
                        pw_give: pw,
                    },
                    success: function (response) {
                        result = response["status"];
                        if (result == 'pwwrong') {
                            alert("아이디와 비밀번호가 맞지 않습니다.");
                        } else if (result == 'idnotfound') {
                            alert("없는 계정이거나 비밀번호가 맞지 않습니다.");
                        } else {
                            window.location.href = "/main";
                        };
                    }
                });
            }
        }

        function keyevent() {
            if(window.event.keyCode==13){
                $('#login_button').click();
            }
        }
    </script>

    <title>정글북 | 로그인</title>

</head>

<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="box has-text-centered">
        <br>
        <br>
        <section class="hero is-success">
            <div class="hero-body">
                <p class="title">
                    ⛺ 정 글 북 📗
                </p>
                <p class="subtitle">
                <div><br></div>
                <h4 class="subtitles" align="center">이제 밖에서도 소셜계정 유출 걱정 없이 북마크해요!</h4>
                </p>
            </div>
        </section>

        <h1 class="title" align="center"></h1>
        <div><br></div>

        <div class="field is-grouped is-grouped-centered">
            <p class="control has-icons-left">
                <input class="input is-rounded" id="userid" type="text" placeholder="아 이 디" required minlength="6"
                    maxlength="20">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
                <!-- <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
            </span> -->
            </p>
            <button class="button is-info is-rounded" onclick="location.href='signup'">회원가입</button>

        </div>

        <div class="field is-grouped is-grouped-centered">
            <p class="control has-icons-left">
                <input class="input is-rounded" id="password" type="password" placeholder="비밀번호" required minlength="12"
                    maxlength="20" onkeyup="keyevent(this);">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </p>
            <button class="button is-success is-rounded" onclick="signin()" id="login_button">로 그 인</button>&nbsp;
        </div>

        <div><br></div>

    </div>

    <!-- 
        https://bulma.io/documentation/form/input/
        input 태그 안에 아이콘이 포함되어 예쁘게 사용 가능
    -->


</body>

</html>